*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo{
    height: 50px;
    object-fit: cover;
    margin: 10px;
}

.container-fluid{
    background-color: #a64d7a4f;
    align-items: center;
    
}

.menu {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    
}



li{
    display: inline-block;

    margin: 5px;
    
}

.fredy{
    width: 300px;
    height: 700px;
    object-fit: cover;
}
