header {
    position: fixed;
    width: 100%;
  }
/* Carosuel */
#carousel .carousel-inner {
    height: 100vh;
    position: relative;
    
  }

 #carousel .carousel-item {
    height: 100%;
    & img {
      height: 100%;
      object-fit: cover;
    }
  }
.carousel-caption{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.436);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
    & h5{
        font-size: 13px; 
    }
    & p{
        font-size: 15px; 
        
    }
}
.card{
    position: absolute;
    left: 20px;
    bottom: 9px;
    & a{
        font-size: 18px;
    }
}
 
  
