*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo{
    max-width: 250px;
}



.navbar{
    background-color: #1a1a1d;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav {
    flex-wrap: nowrap;
    height: 50px; overflow-x: scroll;
    overflow-y: hidden;
}

.nav-item{
    padding: 5px;
    display: inline-block;
   
}

.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }

    .scroll::-webkit-scrollbar {
        display: none; }



/* .bucador-nav{
    height: 50px;
} */

/* .planes{
    margin-top: 120px;
   
}

.fredy{
    width: 300px;
    height: 700px;
    object-fit: cover;
} */
