*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 62.5%;
  }
  body{
    background: linear-gradient(#1A1A1D,#3B1C32);
    min-height: 100vh;
  }
  .carousel-item{
    .col-6{
      position: relative;
      overflow: hidden;
      span{
        position: absolute;
        background-color: #ffff;
        font-weight: bold;
        padding: 0.3rem;
        border-radius: 0 0 0.4rem 0;
      }
      img{
        height: 25rem;
        object-fit: cover;
      }
      .dropdown{
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  
  }

  .carousel-control-prev{
    width: 2%;
  }
  .carousel-control-next{
    width: 2%;
  }
  /* termina seccion destacados */
  
  
  
  
  
  
  /* HOVER */
  .Numero-top10:hover{
    color: #3B1C32;
  
  }